 <!-- sidebar nav -->
 <nav id="sidebar">
    <ul>
        <!-- Logo -->
        <li>
            <span class="logo">Dash2</span>
            <button onclick="toggleSidebar(this)" id="toggle-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#e8eaed">
                    <path
                        d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z" />
                </svg>
            </button>
        </li>

        <!-- links -->
        @for (item of sidebarItems; track $index) {
            <app-sidebar-item [icon]="item.icon" [path]="item.path" [title]="item.title" [submenu]="item.submenu"></app-sidebar-item>
        }
    </ul>
</nav>